{% extends 'base.html' %}
{% block title %}Encode/Decode - PixelSecrecy{% endblock %}
{% block content %}
    <center>
       <div class="container mt-5">
            <div class="row justify-content-center">
                <form action="{% url 'encode_decode' %}" method="post">
                    {% csrf_token %}
                    <h3>Enter a message to embed in Image</h3><br>
                    <input type="text" name="inputtext" class="form-control" placeholder="Enter secret Text" aria-label="Input Text" aria-describedby="basic-addon1" value="{{text}}">
                    {% comment %} <button type="submit" class="btn btn-danger mt-3" name="action" value="encode">Encode</button> {% endcomment %}
                </br> <button type="submit"  class="btn btn-outline-primary btn-lg btn-block" name="action" value="encode">Encode</button>
            </form>
        </div></div>
        <hr>
        
        <div class="container mt-5">
            <div class="row justify-content-center">
                <form action="{% url 'encode_decode' %}" method="post">
                    {% csrf_token %}
                    <!-- Add any decode form fields or content here -->
                    <h3>Decode the message from Image</h3><br>
                    {% comment %} <button type="submit" class="btn btn-warning mt-3" name="action" value="decode">Decode</button> {% endcomment %}
                </br><button type="submit"  class="btn btn-outline-primary btn-lg btn-block" name="action" value="decode">Decode</button>
        </form></div></div>
        {% if decoded %}
            <div class="mt-3">
            </br>
                <label for="decoded-message">Decoded Message:</label>
                <textarea id="decoded-message" class="form-control" rows="4">{{ decoded }}</textarea>
            </div>
        {% endif %}
    </center>
{% endblock %}
